body {
    background-color: #0D1613;
}

.battle-grid {
    display: grid;
    grid-template-rows: repeat(10, 60px);

    --slider-row-idx: 0;
    --slider-col-idx: 0;
}

.battle-grid-row {
    display: grid;
    grid-template-columns: repeat(10, 60px);
}

.battle-grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4px;
    font-weight: bold;
    /* font-size: 40px; */
}

.battle-grid.show-region-numbers .battle-grid-cell:before {
    content: attr(data-region);
}

/* ------- *\
   SLIDERS
\* ------- */
.row-slider,
.col-slider {
    position: absolute;
    border: 6px solid #D0CFF9;

    /* Let events drop down to cells */
    pointer-events: none;
    transition: top 300ms, left 300ms;
}

.row-slider {
    top: calc(6px + var(--slider-row-idx) * 60px);
    left: 6px;
    width: calc(600px - 8px);
    height: calc(60px - 8px);
}

.col-slider {
    top: 6px;
    left: calc(6px + var(--slider-col-idx) * 60px);
    width: calc(60px - 8px);
    height: calc(600px - 8px);
}

[data-highlight-region='0'] .battle-grid-cell[data-region='0'] {}

[data-highlight-region='1'] .battle-grid-cell[data-region='1'] {}

[data-highlight-region='2'] .battle-grid-cell[data-region='2'] {}

[data-highlight-region='3'] .battle-grid-cell[data-region='3'] {}

[data-highlight-region='4'] .battle-grid-cell[data-region='4'] {}

[data-highlight-region='5'] .battle-grid-cell[data-region='5'] {}

[data-highlight-region='6'] .battle-grid-cell[data-region='6'] {}

[data-highlight-region='7'] .battle-grid-cell[data-region='7'] {}

[data-highlight-region='8'] .battle-grid-cell[data-region='8'] {}

[data-highlight-region='9'] .battle-grid-cell[data-region='9'] {}