<!DOCTYPE html>
<html lang="en">

<head>
    <script src="static/star-battle.js"></script>
    <link rel="stylesheet" href="./static/star-battle.css">
</head>

<body>
    <div class="battle-grid">

    </div>
</body>

</html>
